.about-bg {
    background-image: url("../img/notes-phone-overhead.jpeg");
    margin: 0;
    overflow: hidden;
}
.past-bg {
    background-image: url("../img/closed-notes.jpg");
    margin: 0;
    overflow: hidden;
}
.present-bg {
    background-image: url("../img/notes-phone.jpg");
    margin: 0;
    overflow: hidden;
}
.future-bg {
    background-image: url("../img/graphs-coffee.jpg");
    margin: 0;
    overflow: hidden;
}
.contact-bg {
    background-image: url("../img/notes.jpg");
    margin: 0;
    overflow: hidden;
}
ul {
    list-style-type: none;
    background: rgba(73, 145, 104, .8);
    padding: 10px;
    text-align: center;
    margin: 21px 0;
}
li {
    display: inline;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 34px;
    padding: 0 50px;
    color : rgb(7, 31, 49);
}
li a {
    text-decoration: none;
    color: rgb(7, 31, 49);
}
li a:hover {
    color: rgb(215, 27, 90);
}
.selected {
    color: rgb(45, 17, 31);
}
.center-box {
    width: 575px;
    height: 575px;
    background: rgba(73, 145, 104, .95);
    margin: 65px auto;
    text-align: center;
    font-family: sans-serif;
    overflow: auto;
    color: rgb(7, 31, 49);
    border-radius: 15px;
}
.center-box h1 {
    padding: 25px;
    margin: 0;
}
.center-box h3 {
    text-align: left;
    margin: 25px 50px 0 50px;
}
.center-box p {
    text-align: left;
    margin: 25px 50px 0 50px;
}
.center-box img {
    width: 135px;
    height: 135px;
    border-radius: 75px;
    margin: 30px 0 0 0;
    border: 1px solid rgb(7, 31, 49);
    /*box-shadow: 1px 1px 1px;*/
}
.line {
    width: 425px;
    height: 1px;
    border-bottom: 1px solid rgb(7, 31, 49);
    margin: 0 auto;
}
#intro {
    margin: 0 50px 0 50px;
}
.resume-box {
    width: 200px;
    height: 50px;
    background: rgba(7, 31, 49, 1);
    margin: 0 auto;
    top: -50px;
}
.resume-box h4 {
    color: #fff;
    font-size: 18px;
    padding: 15px 0;
}
.resume-box a {
    text-decoration: none;
}
.resume-box a:visited {
    text-decoration: none;
    color: #fff;
}
p.current-job {
    text-align: center;
}
p.present-list {
    margin: 15px 40px 0 40px;
    display: inline;
    text-align: left;
    font-weight: 100;
}
td.table-first {
    column-span: 1;
}
td.table-second {
    column-span: 1;
}
td.table-third {
    column-span: 1;
}
td.table-fourth {
    column-span: 1;
}
p.certs {
    font-weight: 100;
    margin: 10px 55px 0 55px;
}
#current-job-line-2 {
    margin: 8px 50px 0 50px;
}
#school {
    padding: 30px 20px 20px 20px;
    text-align: center;
    margin: 0 50px;
    line-height: 140%;
}
#skills-table {
    margin: 15px 0 0 12px;
    text-align: left;
    width: 540px;
}
#languages-table {
    margin: 15px 0 0 12px;
    text-align: left;
    width: 540px;
}
#star {
    display: inline;
    color: rgb(215, 27, 90);
    /* Some sort of border */
    /*text-shadow: -1px 0 rgb(215, 27, 90), 0 1px rgb(215, 27, 90), 1px 0 rgb(215, 27, 90), 0 -1px rgb(215, 27, 90);*/
 }
#star-empty {
    display: inline;
    color: rgb(7, 31, 49);
}
#languages {
    margin: 15px 50px 0 50px;
}
#name-field input {
    height: 25px;
    width: 395px;
    text-align: left;
    font-size: 12px;
    padding: 0 0 0 5px;
}
#email-field input {
    height: 25px;
    width: 395px;
    text-align: left;
    font-size: 12px;
    padding: 0 0 0 5px;
}
#message-field textarea {
    height: 125px;
    width: 390px;
    vertical-align: top;
    resize: none;
    font-size: 13px;
    padding: 5px 5px;
}